# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.prod.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# IDEs and editors
.idea/
.vscode/
*.swp
send_tasks.py