.idea/
.ipynb_checkpoints/
.vscode/
__pycache__/
build/
dist/
*.egg-info/

draft*
local*
log*
out*
temp*
tmp*

*.draft
*.local
*.log
*.out
*.temp
*.tmp
.env

# Ignore all log files
*.log

# But do not ignore the logging configuration file
!wqb/logging_config.py